{% extends "base.html" %}

{% block page_content %}
<div class="container">
	<form method="POST" class="form-signin" style="width: 300px; padding: 20px; border: 1px solid #00000033; border-radius: 5px; margin: 0 auto;">
		<h2>Login:</h2>
		{{ form.hidden_tag() }}
		{{ form.username.label(class_="input-block-level") }}
		{{ form.username(class_='form-control', placeholder='Usuário ou e-mail') }}
		<br>
		{{ form.password.label(class_='input-block-level') }}
		{{ form.password(class_='form-control', placeholder='Informe a sua senha') }}
		<br>
		{{ form.submit(class_="btn btn-large btn-primary") }}
	</form>
	<br>
	<p>The local date and time is {{ moment(current_time).format('LLL') }}</p>
	<p>That was {{ moment(current_time).fromNow(refresh=True) }}</p>
</div>
{% endblock %}
